.navbar-wrapper {
  width: 80vw;
  padding: 1vh 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .name {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .links-wrapper {
    button {
      text-decoration: none;
      padding: 10px;
      font-family: "Open Sans";
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
      font-size: 16px;
      background-color: transparent;
      outline: none;
      border: 0px;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .active {
      color: black;
    }
  }
  img {
    border-radius: 999px;
  }
}
